-# TRIP PLANNED DURING DATE RANGE
=f.input :user_active_from_date, required: false,
  input_html: {class: 'datepicker', value: Date.today - 1.month},
  as: :string, label: "Planned Trips After"
=f.input :user_active_to_date, required: false,
  input_html: {class: 'datepicker', value: Date.today},
  as: :string, label: "Planned Trips Before"
